<div class="flex">
  <div class="wrapper flex__item">
    <button>Standard</button>
      <pre><code class="language-css">button,
input[type="submit"],
.button,
a.button {
/*  place styles here */
}
button:hover,
input[type="submit"]:hover,
.button:hover,
a.button:hover {
/*  place styles here */
}</code></pre>
  </div>

  <div class="wrapper flex__item">
    <button class="button--disabled">Disabled</button>
      <pre><code class="language-css">a.button--disabled,
.button--disabled {
/*  place styles here */
}
a.button--disabled:hover,
a.button--disabled:active,
a.button--disabled:focus,
.button--disabled:hover,
.button--disabled:active,
.button--disabled:focus {
/*  place styles here */
}</code></pre> 
  </div>

</div>
