<div class="flex">

  <div class="wrapper flex__item">
    <div class="swatch flex__item color1">
      <p>#f00</p>
    </div>
    <ul class="swatch-info">
      <li>Enter description</li>
      <li>Enter description</li>
    </ul>
  </div>

  <div class="wrapper flex__item">
    <div class="swatch color2">
      <p>#ffa500</p>
    </div>
    <ul class="swatch-info">
      <li>Enter description</li>
      <li>Enter description</li>
    </ul>
  </div>

  <div class="wrapper flex__item">
    <div class="swatch flex__item color3">
      <p>#ff0</p>
    </div>
    <ul class="swatch-info">
      <li>Enter description</li>
      <li>Enter description</li>
    </ul>
  </div>

  <div class="wrapper flex__item">
    <div class="swatch flex__item color4">
      <p>#008000</p>
    </div>
    <ul class="swatch-info">
      <li>Enter description</li>
      <li>Enter description</li>
    </ul>
  </div>

  <div class="wrapper flex__item">
    <div class="swatch flex__item color5">
      <p>#0000cd</p>
    </div>
    <ul class="swatch-info">
      <li>Enter description</li>
      <li>Enter description</li>
    </ul>
  </div>

  <div class="wrapper flex__item">
    <div class="swatch flex__item color6">
      <p>#4b0082</p>
    </div>
    <ul class="swatch-info">
     <li>Enter description</li>
      <li>Enter description</li>
    </ul>
  </div>

  <div class="wrapper flex__item">
    <div class="swatch flex__item color7">
      <p>#ee82ee</p>
    </div>
    <ul class="swatch-info">
     <li>Enter description</li>
      <li>Enter description</li>
    </ul>
  </div>

</div>

<!-- <pre><code class="language-markup">&lt;div class="wrapper flex__item"&gt;
  &lt;div class="swatch flex__item color#"&gt;
    &lt;p&gt;Swatch hex code&lt;/p&gt;
  &lt;/div&gt;
  &lt;p class="swatch-info"&gt;Swatch description&lt;/p&gt;
&lt;/div&gt;</code></pre> -->


