<div class="row">
  <div class="example-wrapper col2-66-34">
    <h1>This is a H1 element</h1>
    <div class="content">
      <p>Muffin candy canes chocolate cookie bonbon tootsie roll apple pie jujubes sesame snaps. Gummies cake dessert jelly-o gingerbread. Jujubes halvah powder tootsie roll macaroon powder donut. Chupa chups muffin topping oat cake powder croissant.</p>
      <p>Liquorice fruitcake bonbon jelly beans pastry sweet topping. Jujubes ice cream gummies. Jelly candy canes lollipop gummi bears oat cake apple pie halvah oat cake toffee. Cookie dessert powder gummi bears.
      Sesame snaps gummies cupcake. Sweet sweet gummi bears lollipop pudding pudding carrot cake tootsie roll fruitcake. Cake cheesecake chocolate cookie icing.</p>
    </div>
  </div>
  <div class="code-wrapper col2-66-34">
    <pre><code class="language-css">h1 {
/*  place styles here */
}</code></pre>
  </div>
</div>

<div class="row">
  <div class="example-wrapper col2-66-34">
    <h2>This is a H2 element</h2>
    <div class="content">
      <p>Muffin candy canes chocolate cookie bonbon tootsie roll apple pie jujubes sesame snaps. Gummies cake dessert jelly-o gingerbread. Jujubes halvah powder tootsie roll macaroon powder donut. Chupa chups muffin topping oat cake powder croissant.</p>
      <p>Liquorice fruitcake bonbon jelly beans pastry sweet topping. Jujubes ice cream gummies. Jelly candy canes lollipop gummi bears oat cake apple pie halvah oat cake toffee. Cookie dessert powder gummi bears.
      Sesame snaps gummies cupcake. Sweet sweet gummi bears lollipop pudding pudding carrot cake tootsie roll fruitcake. Cake cheesecake chocolate cookie icing.</p>
    </div>
  </div>
  <div class="code-wrapper col2-66-34">
    <pre><code class="language-css">h2 {
/*  place styles here */
}</code></pre>
  </div>
</div>

<div class="row">
  <div class="example-wrapper col2-66-34">
    <h3>This is a H3 element</h3>
    <div class="content">
      <p>Muffin candy canes chocolate cookie bonbon tootsie roll apple pie jujubes sesame snaps. Gummies cake dessert jelly-o gingerbread. Jujubes halvah powder tootsie roll macaroon powder donut. Chupa chups muffin topping oat cake powder croissant.</p>
      <p>Liquorice fruitcake bonbon jelly beans pastry sweet topping. Jujubes ice cream gummies. Jelly candy canes lollipop gummi bears oat cake apple pie halvah oat cake toffee. Cookie dessert powder gummi bears.
      Sesame snaps gummies cupcake. Sweet sweet gummi bears lollipop pudding pudding carrot cake tootsie roll fruitcake. Cake cheesecake chocolate cookie icing.</p>
    </div>
  </div>
  <div class="code-wrapper col2-66-34">
    <pre><code class="language-css">h3 {
/*  place styles here */
}</code></pre>
  </div>
</div>

<div class="row">
  <div class="example-wrapper col2-66-34">
    <h4>This is a H4 element</h4>
    <div class="content">
      <p>Muffin candy canes chocolate cookie bonbon tootsie roll apple pie jujubes sesame snaps. Gummies cake dessert jelly-o gingerbread. Jujubes halvah powder tootsie roll macaroon powder donut. Chupa chups muffin topping oat cake powder croissant.</p>
      <p>Liquorice fruitcake bonbon jelly beans pastry sweet topping. Jujubes ice cream gummies. Jelly candy canes lollipop gummi bears oat cake apple pie halvah oat cake toffee. Cookie dessert powder gummi bears.
      Sesame snaps gummies cupcake. Sweet sweet gummi bears lollipop pudding pudding carrot cake tootsie roll fruitcake. Cake cheesecake chocolate cookie icing.</p>
    </div>
  </div>
  <div class="code-wrapper col2-66-34">
    <pre><code class="language-css">h4 {
/*  place styles here */
}</code></pre>
  </div>
</div>

<div class="row">
  <div class="example-wrapper col2-66-34">
    <p>This is body copy and how it looks in a long paragraph.</p>
    <p>Muffin candy canes chocolate cookie bonbon tootsie roll apple pie jujubes sesame snaps. Gummies cake dessert jelly-o gingerbread. Jujubes halvah powder tootsie roll macaroon powder donut. Chupa chups muffin topping oat cake powder croissant.</p>
    <p>Liquorice fruitcake bonbon jelly beans pastry sweet topping. Jujubes ice cream gummies. Jelly candy canes lollipop gummi bears oat cake apple pie halvah oat cake toffee. Cookie dessert powder gummi bears.
    Sesame snaps gummies cupcake. Sweet sweet gummi bears lollipop pudding pudding carrot cake tootsie roll fruitcake. Cake cheesecake chocolate cookie icing.</p>
  </div>
  <div class="code-wrapper col2-66-34">
    <pre><code class="language-css">p {
/*  place styles here */
}</code></pre>
  </div>
</div>

<div class="row">
  <div class="example-wrapper col2-66-34">
    <p><small>This is text with the small tag applied. Every other paragraph is small.</small></p>
    <p>Muffin candy canes chocolate cookie bonbon tootsie roll apple pie jujubes sesame snaps. Gummies cake dessert jelly-o gingerbread. Jujubes halvah powder tootsie roll macaroon powder donut. Chupa chups muffin topping oat cake powder croissant.</p>
    <p><small>Liquorice fruitcake bonbon jelly beans pastry sweet topping. Jujubes ice cream gummies. Jelly candy canes lollipop gummi bears oat cake apple pie halvah oat cake toffee. Cookie dessert powder gummi bears.
    Sesame snaps gummies cupcake. Sweet sweet gummi bears lollipop pudding pudding carrot cake tootsie roll fruitcake. Cake cheesecake chocolate cookie icing.</small></p>
    <p>Candy tootsie roll icing jujubes cotton candy pie powder cheesecake. Lollipop bear claw sesame snaps brownie croissant cookie cupcake. Brownie croissant cheesecake pie icing. Donut carrot cake wafer lemon drops pudding icing macaroon jujubes candy canes.</p>
  </div>
  <div class="code-wrapper col2-66-34">
    <pre><code class="language-css">small {
/*  place styles here */
}</code></pre>
  </div>
</div>

