// =======
// Layout styles
// =======
body {
  min-width: 320px;
}

.main {
  @include container(85%);
  margin-top: 1em;
}

.row {
  @include cf;
  position: relative;
  padding: rhythm(1) 0;
}

.wrapper {
  margin: 0 0.5em;
}

// 2 column 50-50 split
.col2-50 {
  border: 0;
  @include mappy-bp(small) {
    @include span(6 of 12);
    &:nth-child(2n) {
      @include last;
    }
  }
}

// 2 column 66-34 split
.col2-66-34 {
  border: 0;
  @include mappy-bp(medium) {
    @include span(8 of 12);
    &:nth-child(2n) {
      @include span(4 of 12 last);
    }
  }
}

// flexbox layout

.flex {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  @include mappy-bp(medium) {
    justify-content: flex-start;
  }
}
.flex__item {

}

