// ======
// Trumps
// ======
.u-float-left {
  @include mappy-bp(small) {
    float: left;
    margin-right: 1em;
  }
}

.u-float-right {
  @include mappy-bp(small) {
    float: right;
    margin-left: 1em;
  }
}

.u-clear {
  @include cf;
}
